modules = ["web", "python-3.11"]
run = "python main.py"

[nix]
channel = "stable-25_05"
packages = ["ffmpeg-full", "glibcLocales", "sqlite"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[workflows]
